@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header {
    position: relative;
}

.hero-container {
    position: absolute;
    top: 0px;
    width: 100%;
}

nav .fa-solid,
.navbar-content .fa-solid {
    display: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #0328AA;
    font-size: 18px;
    font-weight: 500;
    font-family: "Plus Jakarta", sans-serif;
}

.nav-links a:hover {
    color: #FFA134;
    transition: 0.2s;
    /* font-weight: 600; */
}

.nav-links li {
    list-style: none;
}

#brand-id img {
    width: 160px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 32px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

.hero-text {
    margin-top: 180px;
    max-width: 700px;
}

.hero-text h1 {
    color: #0328AA;
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 0.9;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 10px;
}

.hero-text p {
    max-width: 600px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    font-family: "Plus Jakarta", sans-serif;
}

button {
    all: unset;
}

.hero-btn {
    /* font-weight: 500; */
    font-family: "Plus Jakarta", sans-serif;
    background-color: #0328AA;
    border-radius: 5px;
    color: white;
    padding: 24px 48px;
    margin-top: 20px;
}

.hero-btn:hover {
    background-color: #FFA134;
    border-radius: 5px;
    color: #0328AA;
    padding: 24px 48px;
    margin-top: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.section-title-sm {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 24px;
}

.section-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 36px;
    color: #0328AA;
    /* margin-bottom: 10px; */
    /* text-align: center; */
}

.section-header p {
    font-family: "Plus Jakarta", sans-serif;
}

.partners {
    margin-top: 20px;
}

.partners-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 80px;
}

.clients-image {
    width: 100px;
    object-fit: contain;
    align-self: center;
}

.about-section {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 80px;
}

.about-image {
    width: 480px;
    border-radius: 10px;
}

.about-section p {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 200;
}

.about-text {
    padding: 0px 40px;
}

.services-content {
    margin-bottom: 80px;
    /* text-align: center; */
}

.services-content p {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
    max-width: 540px;
}

.services {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: space-between;
}

.service {
    max-width: 380px;
}

.service-title {
    font-size: 18px;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 10px;
}

.service p {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.7;
}

.service img {
    width: 100%;
    height: 248px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.wcu-section {
    background-color: #0328AA;
    background-image: url(./images/cta-bg.png);
    padding: 120px 0px;
    margin-bottom: 80px;
}

.wcu-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 36px;
    color: white;
}

.wcu-title-sub {
    color: white;
    font-family: "Plus Jakarta", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 40px;
}

.card-title-subtext {
    color: white;
    font-family: "Plus Jakarta", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 20px;
}

.wcu-card {
    max-width: 320px;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 32px;
    border-radius: 10px;
}

.wcu-card img {
    width: 60px;
    margin-bottom: 20px;
}

.card-title {
    color: white;
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 10px;
}

.wcu-card p {
    font-size: 14px;
    line-height: 1.6;
}

.wcu-card h3 {
    color: white;
    font-size: 32px;
    font-family: "Plus Jakarta", sans-serif;
}

.wcu-card h6 {
    color: white;
    font-size: 12px;
    font-family: "Plus Jakarta", sans-serif;
    font-weight: 100;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.Testimonials-section {
    margin-bottom: 80px;
}

.testimonial-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 36px;
    color: #0328AA;
}

.testimonial-title-sub {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 450px;
}

.testimonial-card {
    max-width: 320px;
    /* background-color: rgba(170, 168, 255, 0.2); */
    background-color: #EEF5FF;
    padding: 32px;
    border-radius: 10px;
}

.testimonial-card img {
    width: 60px;
    margin-bottom: 10px;
}

.tc-title {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.tc-post {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.tc-title-subtext {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonial-cards {
    display: flex;
    justify-content: space-between;
}

.Our-Team-section {
    margin-bottom: 80px;
}

.ot-title {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 36px;
    color: #0328AA;
}

.ot-title-sub {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 460px;
}

.ot-cards {
    display: flex;
    justify-content: space-between;
}

.ot-card {
    max-width: 280px;
    /* padding: 32px; */
    border-radius: 10px;
}

.ot-card img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ot-card-title {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #0328AA;
}

.ot-card-post {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
}

.ot-card-content {
    padding: 0px 20px;
}

.ot-social-icons {
    display: flex;
    gap: 5px;
}

.ot-social-icons img {
    width: 20px;
}

.cta-section {
    position: relative;
    font-family: "Plus Jakarta", sans-serif;
    background-color: #0328AA;
}

.cta-bg {
    width: 100%;
    height: 400px;
}

.cta-content-wrapper {
    color: white;
    width: 100%;
    position: absolute;
    top: 60px;
}

.cta-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.cta-header {
    width: 500px;
}

.cta-header h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.cta-header p {
    font-family: "Plus Jakarta", sans-serif;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.6;
}

.cta-form h3 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.cta-form input {
    width: 250px;
    margin-bottom: 10px;
    padding: 12px 12px;
    border-radius: 8px;
    border: 0.1px solid white;
    background-color: rgb(255, 255, 255, 0.2);
}

.cta-form-section textarea {
    width: 350px;
    margin-bottom: 10px;
    padding: 12px 12px;
    border-radius: 8px;
    border: 0.1px solid white;
    background-color: rgb(255, 255, 255, 0.2);
}

.cta-form input::placeholder,
textarea::placeholder {
    color: white;
    font-family: "Plus Jakarta", sans-serif;
    font-weight: 200;
    font-size: 13px;
}

.cta-form {
    width: 600px;
    padding: 32px;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cta-form-section form {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.cta-form-input {
    display: flex;
    flex-direction: column;
}

.cta-form button {
    width: 99%;
    background-color: white;
    border-radius: 8px;
    color: #0328AA;
    padding: 14px 4px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.footer-section {
    background-color: #2F3331;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
}

.footer-header {
    width: 300px;
}

.footer-header img {
    width: 180px;
}

.footer-header p {
    font-size: 14px;
    color: white;
    font-family: "Plus Jakarta", sans-serif;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    font-family: "Plus Jakarta", sans-serif;
    line-height: 1.8;
    font-weight: 200;
    gap: 60px;
}

.footer-link-items li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: capitalize;
}

.footer-link-items a:hover {
    color: #FFA134;
}

.footer-link-items h6 {
    color: #FFA134;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer-contact-items {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    padding-bottom: 20px;
    color: white;
}

.footer-contact-items:hover {
    color: #FFA134;
}

.footer-contact-items img {
    width: 20px;
    height: 20px;
}

.footer-contact-items p {
    font-size: 14px;
}

.copyright {
    color: #FFA134;
    text-align: center;
    font-family: "Plus Jakarta", sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
}


@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-content .fa-solid {
        font-size: 22px;
        color: #0328AA;
    }

    .navbar-content {
        align-items: center;
        margin-top: 20px;
    }

    nav .fa-solid,
    .navbar-content .fa-solid {
        display: flex;
        cursor: pointer;
    }

    nav {
        position: absolute;
        width: 50%;
        height: 100vh;
        background-color: #d2dcff;
        top: 0;
        right: -100%;
        padding: 20px 20px;
        text-align: left;
        z-index: 999;
        transition: right 0.3s ease-in-out;
    }

    nav.show {
        right: 0;
    }

    nav .fa-solid {
        margin-top: 25px;
        font-size: 22px;
        color: #0328AA;
    }

    .nav-links {
        display: block;
        margin-top: 30px;
        padding-left: 30px;
    }

    .nav-links li {
        margin-bottom: 30px;
    }

    .hero-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    #brand-id img {
        width: 120px;
    }

    .hero-text {
        margin-top: 100px;
        max-width: 368px;
    }

    .hero-text h1 {
        color: #0328AA;
        font-size: 42px;
        letter-spacing: -4px;
        line-height: 0.9;
        font-family: "Bricolage Grotesque", sans-serif;
        margin-bottom: 10px;
    }

    .hero-text p {
        max-width: 368px;
        font-size: 14px;
        line-height: 1.6;
        font-weight: 300;
        font-family: "Plus Jakarta", sans-serif;
    }

    .partners-content {
        display: block;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .clients-image {
        width: 80px;
        object-fit: contain;
        align-self: center;
        margin: 6px;
    }

    .about-section {
        display: block;
        margin-bottom: 80px;
    }

    .about-image {
        width: 100%;
        border-radius: 10px;
    }

    .about-text {
        padding: 0px 0px;
        margin-top: 28px;
    }

    .about-section p {
        font-family: "Plus Jakarta", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        font-weight: 200;
        margin-top: 10px;
    }

    .services-content p {
        font-family: "Plus Jakarta", sans-serif;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.6;
        margin-top: 10px;
    }

    .services {
        display: block;
        gap: 10px;
        margin-top: 40px;
        justify-content: space-between;
    }

    .service {
        max-width: 380px;
        margin-bottom: 42px;
    }

    .cards {
        display: block;
    }

    .wcu-card {
        max-width: 320px;
        background-color: rgb(0, 0, 0, 0.1);
        padding: 32px;
        border-radius: 10px;
        margin-bottom: 32px;
    }

    .wcu-title-sub {
        color: white;
        font-family: "Plus Jakarta", sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 1.6;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    .testimonial-cards {
        display: block;
    }

    .testimonial-card {
        max-width: 320px;
        background-color: #EEF5FF;
        padding: 32px;
        border-radius: 10px;
        margin-bottom: 32px;
    }

    .testimonial-title-sub {
        font-family: "Plus Jakarta", sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 1.6;
        margin-bottom: 40px;
        margin-top: 10px;
        max-width: 450px;
    }

    .ot-title-sub {
        font-family: "Plus Jakarta", sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 1.6;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    .ot-cards {
        display: block;
    }

    .ot-card {
        max-width: 280px;
        /* padding: 32px; */
        border-radius: 10px;
        margin-bottom: 42px;
    }

    .cta-bg {
        width: 100%;
        object-fit: cover;
        height: 700px;
    }

    .cta-content-wrapper {
        color: white;
        width: 100%;
        position: absolute;
        top: 60px;
    }

    .cta-content {
        max-width: 368px;
        margin: auto;
        display: block;
        padding: 0px 38px;
    }

    .cta-header {
        width: 100%;
    }

    .cta-header h2 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .cta-header p {
        font-family: "Plus Jakarta", sans-serif;
        font-size: 14px;
        font-weight: 200;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .cta-form {
        width: auto;
        padding: 20px;
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .cta-form-section form {
        display: block;
    }

    .cta-form input {
        width: 90%;
        margin-bottom: 10px;
        padding: 12px 12px;
        border-radius: 8px;
        border: 0.1px solid white;
        background-color: rgb(255, 255, 255, 0.2);
    }

    .cta-form-input {
        display: block;
    }

    .cta-form-section textarea {
        width: 90%;
        margin-bottom: 5px;
        padding: 12px 12px;
        border-radius: 8px;
        border: 0.1px solid white;
        background-color: rgb(255, 255, 255, 0.2);
    }

    .cta-form h3 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .cta-form button {
        width: 98%;
        background-color: white;
        border-radius: 8px;
        color: #0328AA;
        padding: 14px 4px;
        text-align: center;
        font-weight: bold;
        margin: auto;
    }

    .footer-content {
        display: block;
        justify-content: space-between;
        padding: 48px 0px;
    }

    .footer-header {
        width: 300px;
        margin-bottom: 32px;
    }

    .footer-header img {
        width: 100px;
    }

    .footer-links {
        display: block;
        font-family: "Plus Jakarta", sans-serif;
        line-height: 1.8;
        font-weight: 200;
    }

    .footer-link-items {
        margin-bottom: 28px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .about-section {
        flex-wrap: wrap;
    }

    .about-text {
        padding: 0px;
    }

    .services-content p {
        max-width: 1000px;
    }

    .services {
        gap: 20px;
    }

    .service img {
        object-fit: cover;
    }

    .cards {
        gap: 20px;
    }

    .testimonial-title-sub {
        max-width: 600px;
    }

    .testimonial-cards {
        gap: 20px;
    }

    .ot-cards {
        flex-wrap: wrap;
        gap: 20px;
    }

    .cta-content {
        flex-wrap: wrap;
        /* padding: 0px 50px; */

    }

    .cta-bg {
        height: 600px;
        object-fit: cover;
    }

    .cta-content-wrapper {
        left: 50px;
    }

    .footer-header {
        width: 200px;
    }

}